Options +FollowSymlinks
RewriteEngine On

RewriteBase /inventariojuegos/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ index.php?r=$1 [L]
#php_value session.auto_start 1